.staff-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 20px;
}

.staff-table th,
.staff-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.staff-table th {
    background-color: #16a085;
    color: white;
}

.staff-form {
    background: white;
    padding: 20px;
    max-width: 450px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}