<header class="bg-white shadow p-4 mb-6">
  <nav class="flex gap-4">
    <a href="/" data-link class="text-blue-600 hover:underline">Home</a>
    <a href="/staffs" data-link class="text-blue-600 hover:underline">Staffs</a>
    <a href="/billings" data-link class="text-blue-600 hover:underline">Billings</a>
    <a href="/menus" data-link class="text-blue-600 hover:underline">Menus</a>
     <a href="/enrollments" data-link class="text-blue-600 hover:underline">
      Enrollments
    </a>

    <a href="/reports/enrollments" data-link class="text-blue-600 hover:underline">
      Report
    </a>
  </nav>
</header>